@media screen and (max-width: 576px) {
    .main h1 {
        font-size: 50px
    }

    .main p {
        font-size: 15px;
    }

    .services h3 {
        font-size: 18px
    }

    .services p {
        font-size: 12px;
    }

    .contact-us p, .social-link p {
        font-size: 12px;
    }
}